* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  /*The bottom property makes it start at the bottom*/
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

/* chain selector */
.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* If width <=480px, don't display panel 4 and 5 */
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

/* 
I learned so much man!!!
-For html, got a revision of like div, general layout
-For css, flexbox*, background, vh, vw, cursor,
border-radius, flex for flex items!, position*,
media rule, pseudo-classes, display, transition,
opacity
-For js, querySelect, forEach, addEventlister,
arrow functions  
*/
